.nav {
    background-color: var(--main-white);
}

.nav__container {
    background-color: var(--main-white-t);
}

.nav__item a {
    color: var(--dark-blue);
}

@media screen
and (min-width: 600px) {

    .nav {
        background-color: var(--main-white-t);
    }

    .nav__container {
        background-color: unset;
    }

    .nav__item a {
        background-color: var(--dark-blue);
        color: var(--main-white);
    }

}






.nav {
    z-index: 4;

    position: sticky;
    top: 0;
}

.nav__container {
    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;

    position: relative;

    display: none;
    z-index: 4;
}

.nav__wrapper {
    position: relative;
}

.nav__container {
    position: absolute;

    width: 100%;
}

.nav-menu {
    font-size: 2rem;

    width: 100%;

    display: flex;
    justify-content: center;
}

.nav__item {
    font-size: 2rem;

    width: 100%;

    display: flex;
    justify-content: center;

    border-top: solid 1px var(--dark-blue-t);
}


#nav-menu__decoration {
    transform: rotate(90deg);
    transform-origin: center;

    position: relative;
    top: 1.5px;
    left: 7px;

    transition: transform .15s ease;
}

.nav__item a {
    text-decoration: none;
}



@media screen
and (min-width: 300px) {
    
    .nav-menu,
    .nav__item {
        font-size: 2.4rem;
    }

}



@media screen
and (min-width: 400px) {
    
    .nav-menu,
    .nav__item {
        font-size: 2.6rem;
    }

}



@media screen
and (min-width: 600px) {

    .nav {
        width: 100%;

        display: flex;
        align-items: center;

        position: absolute;
        top: unset;
    }

    .nav-menu {
        display: none;
    }

    .nav__wrapper {
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .nav__container {
        all: unset;

        display: grid;
        grid-template-columns: repeat(5, 1fr);

        height: 8rem;
        width: 100%;
        max-width: 1200px;
    }

    .nav__item {
        border-top: unset;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        font-size: 2rem;
    }

    .nav__item a {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: .5rem 1rem;

        border-radius: .5rem;
    }
}



@media screen
and (min-width: 900px) {
    
    .nav__item {
        font-size: 2.2rem;
    }

}



@media screen
and (min-width: 1200px) {


}


@media screen
and (min-width: 1500px) {

    .nav {
        height: 10rem;        
    }
    
    .nav__item {
        font-size: 2.6rem;
    }

}



@media screen
and (min-width: 1800px) {
    
    .nav__item {
        font-size: 3rem;
    }

}