:root {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --main-blue:            #051235;
    --dark-blue:            #062035;
    --light-blue:           #638097;

    --light-blue-d:         #395c79;
    
    --main-blue-t:          #051235b0;
    --dark-blue-t:          #062035b0;
    --light-blue-t:         #638097b0;

    --main-white:           #d2dbed;
    --light-white:          #ebf0f8;

    --main-white-t:         #d2dbedce;
}

.section__hr {
    background-color: black;

    width: calc(100% - 2*var(--section-padding));
    height: 1px;

    margin: var(--inner-padding) auto 0;

    border: none;
}

p {
    text-align: justify;
    hyphens: auto;
}