.hero-content {
    background-image: linear-gradient(var(--main-white), 80%, white);
}

.hero-content__title {
    background-color: var(--dark-blue);
    color: var(--main-white);
}

.hero-content__title span {
    color: var(--light-blue);
    font-weight: 600;
}

.hero-content__link a {
    background-color: var(--main-blue);
    color: var(--main-white);
}

@media screen
and (min-width: 900px) {
    .hero-content {
        background-image: unset;
    }

    .hero-content__title {
        background-color: var(--dark-blue-t);
        backdrop-filter: blur(10px);
    }
}














.hero-banner {
    background-position: center;
    background-size: cover;

    height: 25rem;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    position: relative;

    z-index: 1;
}

#hero-banner-cursos {
    background-position: top;
}


.hero-content {
    padding: 2rem 1.5rem;

    display: flex;
    flex-flow: column;
    align-items: center;

    z-index: 1;
}

.hero-content__title {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1rem;

    text-align: center;
}

.hero-content__title span {
    font-weight: 600;
}

.hero-content__link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
}

.hero-content__link a {
    text-decoration: none;

    padding: 1rem 2rem;
}



@media screen
and (min-width: 300px) {
    
    .hero-content__title {
        font-size: 1.7rem;
    }

    .hero-content__link {
        font-size: 1.4rem;
    }

}



@media screen
and (min-width: 400px) {
    
    .hero-banner {
        height: 30rem;
    }

    .hero-content__title {
        font-size: 2.4rem;
    }

    .hero-content__link {
        font-size: 2rem;
    }

}



@media screen
and (min-width: 600px) {

    .hero-banner {
        height: 45rem;
    }

    .hero-content__title {
        font-size: 3rem;

        padding: 2rem;
    }

    .hero-content__link {
        font-size: 2.4rem;
    }
    
}



@media screen
and (min-width: 900px) {

    .hero {
        position: relative;
    }

    .hero-content {
        position: absolute;
        top: 0px;

        height: 100%;
        width: 100%;

        justify-content: center;
        align-items: center;
    }
    
    .hero-content__title {
        font-size: 4rem;
    }

    .hero-content__link {
        font-size: 3rem;
    }
    
}



@media screen
and (min-width: 1200px) {

}




@media screen
and (min-width: 1500px) {

    .hero-content__title {
        font-size: 4.6rem;
    }
    
}



@media screen
and (min-width: 1800px) {
    
    .hero-content__title {
        font-size: 5rem;
    }
    
}