.details-cursos {
    background-color: var(--light-blue);

    padding: var(--section-padding) calc(var(--section-padding)*.6);

    display: flex;
    flex-flow: column;
    gap: var(--section-gap);
}

.details-cursos__title {
    align-self: center;

    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;

    max-width: 120rem;
}

.details-cursos__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    gap: var(--inner-gap);
}

.details-cursos__item {
    background-color: var(--light-white);
    font-size: 1.4rem;
    text-align: justify;
    hyphens: auto;

    padding: var(--inner-padding);
}


@media screen
and (min-width: 300px) {
    
    .details-cursos__title {
        font-size: 1.8rem;
    }

    .details-cursos__item {
        font-size: 1.6rem;
    }

}



@media screen
and (min-width: 400px) {

    .details-cursos__title {
        font-size: 2rem;
    }

    .details-cursos__item {
        font-size: 1.8rem;
    }

}



@media screen
and (min-width: 600px) {
    
    .details-cursos__title {
        font-size: 2.2rem;
    }

    .details-cursos__item {
        font-size: 2rem;
    }

}



@media screen
and (min-width: 900px) {
    
    .details-cursos__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media screen
and (min-width: 1200px) {
    
    .details-cursos__title {
        font-size: 2.6rem;
    }

    .details-cursos__item {
        font-size: 2.2rem;
    }

}



@media screen
and (min-width: 1500px) {
    
    


}



@media screen
and (min-width: 1800px) {
    
    .details-cursos__wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .details-cursos__title {
        font-size: 2.8rem;
    }

    .details-cursos__item {
        font-size: calc(2.4rem + .1vw);
    }

}