.impacto-cursos {
    background-color: var(--dark-blue);
    color: var(--light-white);

    padding: var(--section-padding);

    display: flex;
    flex-flow: column;
    gap: calc(var(--section-gap)*.4);
}

.impacto-cursos__title {
    font-size: var(--h1-font-size);
    text-align: center;
}

.impacto-cursos__sub {
    font-size: 1.8rem;
    font-weight: 400;
}

.impacto-cursos__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: var(--inner-gap);
}

.impacto-cursos__item {
    background-color: var(--light-blue);
    font-size: 1.4rem;
    text-align: justify;
    hyphens: auto;

    padding: calc(var(--inner-padding)*.15);

    display: flex;
    justify-content: center;
    align-items: center;
}

.impacto-cursos__item__span {
    display: inline-block;
    background-color: var(--main-white);
    color: black;
    height: 100%;
    width: 100%;
    padding: calc(var(--inner-padding)*.5);

    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen
and (min-width: 300px) {
    
    .impacto-cursos__sub {
        font-size: 2rem;
    }

    .impacto-cursos__item {
        font-size: 1.6rem;
    }

}



@media screen
and (min-width: 400px) {
    
    .impacto-cursos__sub {
        font-size: 2.2rem;
    }

    .impacto-cursos__item {
        font-size: 1.8rem;
    }

}



@media screen
and (min-width: 600px) {
    
    .impacto-cursos__sub {
        font-size: 2.4rem;
    }

    .impacto-cursos__item {
        font-size: 2rem;
    }

}



@media screen
and (min-width: 900px) {
    
    .impacto-cursos__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

}



@media screen
and (min-width: 1200px) {
    
    .impacto-cursos__sub {
        font-size: 2.6rem;
    }

    .impacto-cursos__item {
        font-size: 2.2rem;
    }

}



@media screen
and (min-width: 1500px) {
    
    
}



@media screen
and (min-width: 1800px) {
    
    .impacto-cursos__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .impacto-cursos__sub {
        font-size: 2.8rem;
    }

    .impacto-cursos__item {
        font-size: 2.4rem;
    }

}