.sobre-cursos {
    display: flex;
    flex-flow: column;

    padding: var(--section-padding);
    gap: var(--section-gap);
}

.sobre-cursos__title {
    align-self: center;
}

.sobre-cursos__title h1 {
    font-size: var(--h1-font-size);
}

.sobre-cursos__item {
    display: flex;
    flex-flow: column;

    font-size: var(--p-font-size);

    gap: var(--inner-gap);

    position: relative;
}

.sobre-cursos__item__background {
    display: none;
}

.sobre-cursos__item__img {
    display: none;

    z-index: 1;
}



@media screen
and (min-width: 300px) {
    
    .sobre-cursos__item__img {
        display: unset;
        object-fit: cover;

        height: 20rem;
    }

}



@media screen
and (min-width: 400px) {
    
    

}



@media screen
and (min-width: 600px) {

    .sobre-cursos {

    }
    
    .sobre-cursos__item {
        flex-flow: row;
        justify-content: space-between;

        height: 16rem;

        padding: .2rem;

        background-color: var(--main-blue);

    }

    .sobre-cursos__item__background {
        display: unset;
    
        background-color: white;
        padding: -2px;
    
        position: absolute;
    
        top: 1%;
        left: 1%;
    
        width: calc(98%);
        height: calc(98%);
    
        z-index: -1;
    }

    .sobre-cursos__item__img {
        width: 50%;
        height: unset;
        
        z-index: -1;
    }

    .sobre-cursos__item__p {
        width: 50%;
        height: 100%;

        padding: var(--section-padding);

        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sobre-cursos__item:nth-of-type(odd) .sobre-cursos__item__p {
        order: 1;
    }

    .sobre-cursos__item:nth-of-type(odd) .sobre-cursos__item__img {
        order: 2;
    }

}



@media screen
and (min-width: 900px) {
    
    .sobre-cursos__item {
        height: 20rem;
    }

}



@media screen
and (min-width: 1200px) {
    
    .sobre-cursos__item {
        height: 24rem;
    }

}



@media screen
and (min-width: 1500px) {
    
    .sobre-cursos__item {
        height: 28rem;
    }

}



@media screen
and (min-width: 1800px) {
    


}