.section-consequencias {
    background-color: var(--light-blue);
}

.section-consequencias__item {
    background-color: var(--main-white);
}



.section-consequencias {
    padding: var(--section-padding);

    display: flex;
    flex-flow: column;
    gap: var(--section-gap);
}

.section-consequencias__title {
    font-size: calc(var(--h1-font-size)*1);
    align-self: left;
    font-weight: 500;
}

.section-consequencias__wrapper {
    display: grid;
    grid-auto-rows: 1fr;
    gap: var(--inner-gap);
}

.section-consequencias__item {
    padding: var(--inner-padding);

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-consequencias__item__span {
    font-size: var(--p-font-size);
    hyphens: auto;
    text-align: justify;
}


@media screen
and (min-width: 300px) {
    


}



@media screen
and (min-width: 400px) {
    
    

}



@media screen
and (min-width: 600px) {
    
    .section-consequencias__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }

}



@media screen
and (min-width: 900px) {
    
    

}



@media screen
and (min-width: 1200px) {
    
    .section-consequencias__wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

}



@media screen
and (min-width: 1500px) {
    
    

}



@media screen
and (min-width: 1800px) {
    


}