.sobre {
    display: flex;
    flex-flow: column;

    padding: var(--section-padding);

    gap: var(--section-gap);

    overflow: hidden;

    transition: height 1s ease;
}

.sobre__title{
    font-size: var(--h1-font-size);
}

.sobre__img{
    height: 30rem;
    width: 100%;

    object-fit: cover;
    object-position: top;
}

.sobre__resumo {
    font-size: var(--p-font-size);
    text-align: justify;
    hyphens: auto;
}

.open-sobre__text {
    font-size: var(--h2-font-size);
    font-weight: 500;
}
.open-sobre__text::after {
    content: "";

    display: inline-block;
    height: 1rem;
    width: 1rem;

    position: relative;
    top: 1px;

    background-color: black;

    clip-path: polygon(0% 25%, 100% 25%, 50% 100%);

    transform: rotate(var(--rotate));

    transition: transform .2s ease;
}

.sobre__text{
    display: flex;
    flex-flow: column;
    gap: var(--inner-gap);

    position: relative;
}

.sobre__text__p{
    font-size: var(--p-font-size);
    text-align: justify;
    hyphens: auto;
}

.sobre__footer{
    align-self: flex-end;

    font-size: var(--p-font-size);
}



@media screen
and (min-width: 300px) {
    
    .open-sobre__text {
        font-weight: 500;
    }

    .open-sobre__text::after {
        height: 1.4rem;
        width: 1.4rem;
    }

}



@media screen
and (min-width: 400px) {

    .sobre__img{
        height: 45rem;
    }
    
    .sobre__resumo {
        width: 100%;
    }
    
    .open-sobre__text::after {
        height: 1.4rem;
        width: 1.4rem;
    }

}



@media screen
and (min-width: 600px) {
    
    .sobre {
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: 5rem auto 4rem 1fr;
    }
    
    .sobre__img{
        width: 100%;
        height: calc(25rem + 5vw);
    }

    .sobre__resumo {
        grid-row: 2 / 3;
        grid-column: 2 / -1;
    }

    .sobre__title{
        grid-column: 1 / -1;
    }

    .open-sobre__text {
        grid-column: 1 / -1;
    }
    
    .sobre__text{    
        grid-column: 1 / -1;
    }

}



@media screen
and (min-width: 900px) {
    
    .sobre {
        grid-template-rows: 5rem 1fr;
        grid-template-columns: 35% 1fr;

        height: unset;
    }
    
    .sobre__img{
        height: 100%;
        width: 100%;
    }
    
    .sobre__title{
        width: 100%;
    }
    
    .sobre__resumo {
        all: unset;
        display: none;
    }

    .open-sobre__text {
        all: unset;
        display: none;
    }

    .sobre__text{
        grid-column: unset;
        display: flex;
    }
    
    .sobre__text__p{
        grid-area: 2 -1 / 2 -1;

        line-height: 1.05;
    }
    
}



@media screen
and (min-width: 1200px) {
    
    .sobre {
        grid-template-rows: 5rem 60rem;
        grid-template-columns: 48rem 1fr;
    }
    
    .sobre__img{
        height: 100%;
    }
    
    .sobre__text__p{
        font-size: 2.6rem;
    }

}



@media screen
and (min-width: 1500px) {
    
    .sobre {
        grid-template-rows: 5rem 50rem;
        grid-template-columns: 48rem 1fr;
    }
    
}



@media screen
and (min-width: 1800px) {
    
    .sobre {
        grid-template-rows: 5rem 50rem;
        grid-template-columns: 1fr 48rem;

        width: 75%;
        margin: auto;
    }
    
    .sobre__img{
        grid-row: 2 / -1;
        grid-column: 2 / -1;
    }
    
    .sobre__text{
        grid-area: 2 -1 / 1 -1;
    }

}